<template>

    <div class="demo-only demo-only--sizing slds-grid slds-wrap">

        <div class="slds-size_2-of-6"> 
        </div>
              
        <div class="slds-size_2-of-6 slds-p-top_x-large" style="background: white;">

            <div class="slds-border_bottom  slds-text-align_center slds-p-bottom_large slds-text-heading_large" 
            style="border-width: 2px">New Product Required</div>  

            <div class="slds-p-horizontal_medium">
            <lightning-record-edit-form object-api-name="ProductRequired" >    

           
                    <lightning-input-field id="workTypeId" class="slds-m-top_xx-large" field-name='ParentRecordId' value={workType} required onchange={workTypeChangedHandler}>
                    </lightning-input-field>
                           
                    <lightning-input-field id="productID" field-name='Product2Id' required onchange={productChangedHandler}>
                    </lightning-input-field>    
                
                    <lightning-input-field id="quantityRequiredID" field-name='QuantityRequired' onchange={quantityChangedHandler}>
                    </lightning-input-field>
                       
                    <lightning-input-field id="quantityUnitOfMeasureID" field-name='QuantityUnitOfMeasure' onchange={measureChangedHandler}>
                    </lightning-input-field>  

            </lightning-record-edit-form> 
            </div>   

            <div class="slds-border_top slds-clearfix slds-m-top_x-large" style="background:#F5F5F5; border-width: 1px">
                <lightning-button label="Next" variant="brand" class ="slds-float_right slds-m-right_medium slds-m-vertical_small" onclick={createProductRequired}></lightning-button>  
            </div>     

        </div>

        <div class="slds-size_2-of-6">   
        </div>   

      </div> 
      
</template>