<template>

    <div class="demo-only demo-only--sizing slds-grid slds-wrap">

        <div class="slds-size_3-of-8"> 
          
        </div>

        <div class="slds-size_2-of-8 slds-p-top_x-large slds-p-bottom_medium slds-p-horizontal_medium" style="background: white;">
                    
                <div class="slds-border_bottom  slds-text-align_center slds-p-bottom_large slds-text-heading_large" 
                style="border-width: 3px">New Work Type</div>    
                          
                <div class="slds-m-bottom_small slds-m-top_small">
                    <lightning-input type="text" label="Work Type Name" onchange={workTypeNameChangedHandler} required></lightning-input>
                </div>

                <div class="slds-m-bottom_small">
                    <lightning-input type="text" label="Description" onchange={descriptionChangedHandler}></lightning-input>
                </div>

                <div class="slds-m-bottom_small">
                    <lightning-input type="number" step=".01" label="Estimated Duration" onchange={estimatedDurationChangedHandler} required></lightning-input>
                </div>

                <div class="slds-m-bottom_small">
                    <lightning-combobox required
                    name="progress"
                    label="Duration Type"
                    value={value}
                    placeholder=""
                    options={options}
                    onchange={durationTypeChangedHandler} ></lightning-combobox>
                </div>

                <div class="slds-m-bottom_small">
                    <lightning-input type="checkbox" label="Auto-Create Service Appointment" onchange={appointementChangedHandler} checked={isServiceAppointment}></lightning-input>
                </div>

                <div class="slds-m-bottom_small">
                    <lightning-button label="Next" variant="brand" class="slds-float_right" onclick={createWorkType}></lightning-button>  
                </div>   
        </div>

        <div class="slds-size_3-of-8">     
            
        </div>  
            
      </div> 
      
</template>

