<template>

    <div class="demo-only demo-only--sizing slds-grid slds-wrap">

        <div class="slds-size_3-of-8">   

        </div>
        <div  class="slds-size_2-of-8">    
                
            <lightning-card class="slds-p-top_x-large slds-p-bottom_medium">
                <lightning-record-edit-form object-api-name="SkillRequirement">    
                    <lightning-messages></lightning-messages>

                    <div class="slds-m-around_medium">

                        <div class="slds-border_bottom  slds-text-align_center slds-p-bottom_large slds-text-heading_large" 
                        style="border-width: 3px">New Skill Requirement</div>   

                        <div class="slds-m-bottom_small slds-m-top_small">
                            <lightning-input-field id="workTypeID" field-name='RelatedRecordId' value={workType} onchange={workTypeChangedHandler}>
                            </lightning-input-field>
                        </div>
                       
                        <lightning-input-field id="skillID" field-name='SkillId' onchange={skillChangedHandler}>
                        </lightning-input-field>
                                
                        <lightning-input-field id="skillLevelID" type="number" step="1" field-name='SkillLevel' onchange={skillLevelChangedHandler}>
                        </lightning-input-field>
                                
                       <div class="slds-clearfix">
                        <lightning-button label="Next" variant="brand" class ="slds-float_right slds-m-right_xx-small slds-m-top_x-small" onclick={createSkillRequirement}></lightning-button>  
                       </div>
                            
                   </div>
                </lightning-record-edit-form>
        
            </lightning-card>
                         
        
        </div>

        <div class="slds-size_3-of-8">  
        </div>   

      </div> 
      
</template>