<template>

    <div class="demo-only demo-only--sizing slds-grid slds-wrap">

        <div class="slds-size_2-of-8">   
        </div>

        <div class="slds-size_4-of-8 slds-p-top_x-large" style="background: white;"> 
         
            <div class="slds-border_bottom  slds-text-align_center slds-p-bottom_large slds-text-heading_large" 
            style="border-width: 2px">New Product Item</div>            
        
            <div class="slds-m-around_medium">

                <lightning-record-edit-form object-api-name="ProductItem">   

                    <div class="slds-grid slds-gutters slds-p-horizontal_medium"> 

                        <div class="slds-size_1-of-2">                                       
                            <lightning-input-field id="productID" field-name='Product2Id' value={product} required onchange={productChangedHandler}>
                            </lightning-input-field>                                
                        </div>

                        <div class="slds-size_1-of-2">                              
                            <lightning-input-field id="locationID" field-name='LocationId' required onchange={locationChangedHandler}>
                            </lightning-input-field>
                        </div>

                    </div>  

                    <div class="slds-grid slds-gutters slds-p-horizontal_medium"> 

                        <div class="slds-size_1-of-2"> 
                            <lightning-input-field id="quantityID" field-name='QuantityOnHand' required onchange={quantityChangedHandler}>
                             </lightning-input-field>  
                        </div>

                        <div class="slds-size_1-of-2"> 
                            <lightning-input-field id="measureID" field-name='QuantityUnitOfMeasure' onchange={measureChangedHandler}>
                            </lightning-input-field>
                        </div>

                    </div>  

                    <div class="slds-grid slds-gutters slds-p-horizontal_medium">    

                        <div class="slds-size_1-of-2"> 
                            <lightning-input-field id="serialNumberID" field-name='SerialNumber' onchange={serialNumberChangedHandler}>
                            </lightning-input-field>                                
                        </div>

                        <div class="slds-size_1-of-2"> 
                        </div>

                    </div> 

                </lightning-record-edit-form>
                        
            </div>         

            <div class="slds-border_top slds-clearfix slds-m-top_x-large" style="background:#F5F5F5; border-width: 1px">
                <lightning-button label="Save" variant="brand" class ="slds-float_right slds-m-right_medium slds-m-vertical_small" onclick={createProductItem}></lightning-button>  
            </div> 

        </div>
        
        <div class="slds-size_2-of-8">   
        </div>      

      </div> 
      
</template>

