<template>

    <c-step-one if:true={showstepOne} onstepone={handleStepOne}></c-step-one>
    <c-step-two if:true={showstepTwo} onsteptwo={handleStepTwo} work-type={workTypeId}></c-step-two>
    <c-step-three if:true={showstepThree} onstepthree={handleStepThree} work-type={workTypeId}></c-step-three>
    <c-step-four if:true={showstepFour} onstepfour={handleStepFour} product={productId}></c-step-four>
    
</template>